<%=hangman_img%>
<p><strong><%= guessed_part %></strong></p>
<p>Guessed letters:<%= guessed_letters.inspect %></p>
<br>
<form action="guesser_game">
	<input type='text' name='guess'/>
  	<input type='submit' value='Guess a letter!' />
</form>