<p><strong><%= guessed_part %></strong></p>
<p>Guessed letters:<%= guessed_letters.inspect %></p>
<p>Guesses left: <%= guesses_left %></p>
<br>
<form>
	<input type='text' name='guess'/>
  	<input type='submit' value='Guess a letter!' />
</form>